<div>
  <p> {{ codeText }} </p>

  <button id="b1" (click)="f1()"><span>Hamming Code</span></button>
  <button id="b2" (click)="reset()"><span>Simulation Reset</span></button>


</div>
<div class="log">
  <h1>Simulation Logs:</h1>
  <p>{{ simulationText }}</p>
</div>
<div class="simulation">
  <div id="simulationDot" style="margin-top: 120px; margin-left: 400px;text-align: left; padding: 0; position: absolute;">
    <img src="../assets/images/{{imagePath2}}">
    <p>{{actualText}}</p>
  </div>
<button (click)="setOption(1)">Ethernet</button>
<button (click)="setOption(2)">WI-FI</button>
<button (click)="setOption(3)">Satelite</button>
  <button (click)="moveAll()">move</button>
<br />
<img src="../assets/images/{{imagePath}}">
</div>

