p{
  white-space: pre-line;
}
table, th, td, tr {
  border: 1px solid black;
  width:50%;
  margin-left: 25%;
  font-weight: bold;
}
div{
  background-color: rgba(255,255,255,0.5);
  text-align: center;
}
button {
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 15px 32px;
  margin:10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
button:hover{
  background-color: #4CAF50;
  border: 2px solid white; /* Green */
  transition-duration: 1000ms;
}
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.log{
  text-align: left;
  margin:0px;
  width:25%;
  float:left;

}
.simulation{

  width:70%;
  float:left;

}

